<%= image_tag ('mo_create.png'), class: "img-30" %>
<h2>Edit Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :html => {:class => "form-edit"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 <div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <%= f.label "First Name" %>
      <%= f.text_field :first_name, autofocus: true, type: "text", class: "form-control", placeholder: "First Name" %>
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, autofocus: true, type: "text", class: "form-control", placeholder: "Last Name" %>
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", type: "email", id: "inputEmail", class: "form-control", placeholder: "Email address" %>
    </div>
    <div class="col-lg-6 col-sm-12">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", type: "password", id: "inputPassword", class: "form-control", placeholder: "New Password" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password", id: "inputPassword", class: "form-control", placeholder: "Re-type New Password" %>
      <% if @minimum_password_length %>
      <br />
      <em class="small-warning"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <br /><i class="small-warning">(leave blank if you don't want to change it)</i><br />

      <%= f.label :current_password %> 
      <%= f.password_field :current_password, autocomplete: "current-password", type: "password", id: "inputPassword", class: "form-control", placeholder: "Current Password" %>
      <i class="small-warning">(we need your current password to confirm your changes)</i><br />
    </div>
    <div class="col-lg-12">
      <%= f.submit "Update", class: "btn btn-lg btn-outline-light btn-block mt-3" %>
    </div>
  </div>
<% end %>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-outline-secondary btn-block mt-3" %>
</div>
<br />
<%= link_to "Back", :back %>