<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.text_field :first_name, autofocus: true, type: "text", class: "form-control form-control-sm", placeholder: "First Name" %>
  <%= f.text_field :last_name, autofocus: true, type: "text", class: "form-control form-control-sm", placeholder: "Last Name" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", id: "inputEmail", class: "form-control form-control-sm", placeholder: "Email address" %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "new-password", type: "password", id: "inputPassword", class: "form-control form-control-sm", placeholder: "Password" %>
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password", id: "inputPassword", class: "form-control form-control-sm", placeholder: "Password" %>
  <%= f.submit "Sign up", class: "btn btn-sm btn-outline-light btn-block" %>
<% end %>

<%= render "devise/shared/links" %>


