

<div class="container mt-5 ">
<div class="row">
  
  
  <div class="col-lg-3 col-md-4 col-sm-12">
  <div class="sticky-top mt-3">
      <%= image_tag ('mo_task.png'), class: "img-60" %>
      <h1>Categories <i class="fas fa-angle-right"></i> <%=@category.category_name.truncate(40)%></h1>
      <%# <p>MO™ Tasks</p> %>
      <%= link_to ' ', categories_path(current_user.id), class: "far fa-arrow-alt-circle-left btn btn-lg btn-light" %>
      <%= link_to ' Task', new_category_task_path, class: "fas fa-plus btn btn-lg btn-info", id: "addTask" %>
      <hr />
  </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-9">
    <table class="table table-hover table-dark table-striped table-bordered">
    
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
    <% if task.task_done == true %>
      
      <% if task.task_name.size <= 20 %>
        <td>
        <p class="small-warning text-success" style="margin: 0;">Task done!</p>
        <i class="fas fa-check-circle text-success fa-2x" ></i>
        </td>
        <td>
        <div style="word-wrap: break-word;">
        <h6><%= task.task_name %></h6>
        </div>
        </td>
        <% else %>
        <td>
        <p class="small-warning text-success" style="margin: 0;">Task done!</p>
        <i class="fas fa-check-circle text-success fa-2x"></i>
        </td>
        <td>
        <div style="word-wrap: break-word;">
        <h6><%= task.task_name.truncate(20) %><%= link_to 'more', category_task_path(:id => task.id), class: "text-info small-warning" %></h6>
        </div>
        </td>
      <% end %>

    <% else %>
      <td></td>
      <td>
      <div style="word-wrap: break-word;">
      <% if task.task_name.size <= 20 %>
      <h6><%= task.task_name %></h6>
      <% else %>
      <h6><%= task.task_name.truncate(20) %><%= link_to 'more', category_task_path(:id => task.id), class: "text-info small-warning" %></h6>
      <% end %>
      </div>
      </td>
    <% end %>

    <% if task.task_name.size <= 15 %>
      <div style="word-wrap: break-word;">
      <td><%= task.task_description %></td>
      </div>
    <% else %>
      <div style="word-wrap: break-word;">
      <td><%= task.task_description.truncate(15) %> <%= link_to 'more', category_task_path(:id => task.id), class: "text-info" %></td>
      </div>
    <% end %>
    
    <% if task.task_deadline.nil? %>
      <td class="small-warning">N/A</td>
    <% else %>
      <td>
      <p class="small-warning"><%= task.task_deadline.to_formatted_s(:long) %></p>
      </td>
    <% end %>

   
    <td class="d-flex justify-content-between flex-column mx-auto">
       <% if task.task_done == true %>
                <%= button_to "Undone", category_task_path(:id => task.id),   
                params: {:task => { :id => task.id, :task_done => false, :user_id => current_user.id }}, 
                method: :put, class: "btn btn-outline-light btn-sm mb-1 btn-block " %>
                <% else %>
                <%= button_to "Done", category_task_path(:id => task.id),   
                params: {:task => { :id => task.id, :task_done => true, :user_id => current_user.id }}, 
                method: :put, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary btn-sm mb-1 btn-block" %>
              <% end %>
      <%= button_to 'Edit', edit_category_task_path(:id => task.id), class: "btn btn-light btn-sm mb-1 btn-block" %>
      <%= link_to ' ', category_task_path(:id => task.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm fas fa-times-circle mb-1 btn-block" %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>

      
  </div>
  
</div>
</div>


<%= link_to ' Back', categories_path(current_user.id), class: "far fa-arrow-alt-circle-left" %>