<%= image_tag ('mo_task.png'), class: "img-30" %>
<h1><%=@category.category_name%></h1>
<p>MO™ Tasks</p>
<%= link_to 'Add Task', new_category_task_path, class: "btn btn-lg btn-light" %>
<hr />
<div class="container">
<div class="row mb-3">
    <% @tasks.each do |task| %>
    <div class="col-sm-12 col-lg-6">
      <div class="card bg-dark text-white mb-4 box-shadow">
        <div class="card-body">
        <h5 class="card-title"><%= task.task_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted small-warning"><%= task.created_at.to_formatted_s(:long) %></h6>
        <p class="card-text mb-2"><%= task.task_description %></p>
        <p class="card-text text-muted">Deadline: <%= task.task_deadline.to_formatted_s(:long) %></p>
        <hr />
        <div class="row d-inline">
        <%= link_to 'Edit', edit_category_task_path(:id => task.id), class: "card-link btn btn-light btn-sm" %>
        <%= link_to 'Delete', category_task_path(:id => task.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link btn btn-danger btn-sm"%>
        </div>
      </div>
    </div>
</div>
    <% end %>

</div>
</div>

<%= link_to ' Back', categories_path(current_user.id), class: "far fa-arrow-alt-circle-left" %>