<h1>
  <%= @task.task_name %>
</h1>
<p>
  <%= @task.task_description %>
</p>
<p>
  <strong>Task deadline:</strong>
  <%= @task.task_deadline.to_formatted_s(:long) %>
</p>

<%= link_to 'Edit', edit_category_task_path(@task) %> |
<%= link_to 'Back', category_tasks_path %>
