<hr>
<p>
	Saved User Data Reference
</p>
<br>
<% @users.each do |friend| %>
  <hr>
  <p>User ID: <%= friend.id %></p>
  <p>Email: <%= friend.email %></p>
  <p>First Name: <%= friend.first_name %></p>
  <p>Last Name: <%= friend.last_name %></p>
  <% if current_user == nil %>
  <% else %>
  <%= link_to "MO Categories", categories_path(current_user.id) %>
  <% end %>
  <hr>
<% end %>

<% if current_user == nil %>
<%= image_tag ('mo_white_logo.png'), class: "img-60" %>
<% else %>
<%= image_tag ('mo_hello.png'), class: "img-40" %>
<p>Welcome! <%= current_user.first_name %></p>
<%= link_to "Start Organizing", categories_path(current_user.id), class: "btn btn-lg btn-light" %>
<% end %>