<h1>Home</h1>
<hr>
<% if current_user == nil %>
<p>No user signed-in</p>
<% else %>
<p>Current User Signed-in: <%= current_user.first_name %></p>
<% end %>
<hr>
<p>
	Saved User Data Reference
</p>
<br>
<% @users.each do |friend| %>
  <hr>
  <p>User ID: <%= friend.id %></p>
  <p>Email: <%= friend.email %></p>
  <p>First Name: <%= friend.first_name %></p>
  <p>Last Name: <%= friend.last_name %></p>
  <% if current_user == nil %>
  <% else %>
  <%= link_to "MO Categories", categories_path(current_user.id) %>
  <% end %>
  <hr>
<% end %>