<%= image_tag ('mo_category.png'), class: "img-30" %>
<h1>MO™ Categories for <%= current_user.first_name %></h1>
<%= link_to 'Add Category', new_category_path(current_user.id), class: "btn btn-lg btn-light"  %>
<hr />
<div class="container">
<div class="row mb-3">

 <% if user_signed_in? %>
    <% @categories.each do |category| %>
    <div class="col-sm-12 col-lg-6">
      <div class="card bg-dark text-white mb-4 box-shadow">
        <div class="card-body">
        <h5 class="card-title"><%= category.category_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted small-warning"><%= category.created_at.to_formatted_s(:long) %></h6>
        <p class="card-text"><%= category.category_description %></p>
        <hr />
        <div class="row d-inline">
        <%= link_to 'View Tasks', category_tasks_path(category), class: "card-link btn btn-info btn-sm" %>
        <%= link_to 'Edit', edit_category_path(category), class: "card-link btn btn-light btn-sm" %>
        <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
</div>
    <% end %>
<% end %>

</div>
</div>


