

<div class="container mt-5">
  
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="sticky-top mt-3">
      <%= image_tag ('mo_category.png'), class: "img-60" %>
      <h2>Categories <i class="fas fa-angle-right"></i></h2>
      <%= link_to ' ', root_path, class: "far fa-arrow-alt-circle-left btn btn-lg btn-light" %>
      <%= link_to ' Category', new_category_path(current_user.id), class: "fas fa-plus btn btn-lg btn-info", id: "addCategory"  %>
      <hr />
    </div>
  </div>
  
  <div class="col-sm-12 col-md-8 col-lg-9">
    <div class="container">
      <div class="row mb-3">
      <% if user_signed_in? %>
          <% @categories.each do |category| %>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card bg-dark border-info text-white mb-4 box-shadow">
              <div class="card-body">

              <% if category.category_name.size <= 60 %>
              <h3 class="card-title" style="font-size: clamp(18px, 4vw, 24px);"><%= category.category_name %></h3>
              <% else %>
              <h3 class="card-title" style="font-size: clamp(18px, 4vw, 24px);"><%= category.category_name.truncate(60) %> <%= link_to 'more', category_path(category), class: "text-info small-warning" %></h3>
              <% end %>

              <h6 class="card-subtitle mb-2 mb-3">Number of tasks: <%= category.tasks.count %></h6>
              <h6 class="card-subtitle mb-2 text-muted small-warning"><%= category.updated_at.to_formatted_s(:long) %></h6>
              
              <% if category.category_description.size <= 120 %>
              <p class="card-text"><%= category.category_description %></p>
              <% else %>
              <p class="card-text"><%= category.category_description.truncate(120) %> <%= link_to 'more', category_path(category), class: "text-info" %></p>
              <% end %>

              <hr />
              <div class="row d-block text-center">
              <%= link_to ' Tasks', category_tasks_path(category), class: "card-link btn btn-info btn-lg btn-block fas fa-cogs" %>
              <hr />
              </div>
              <div class="row d-inline">
              <%= link_to 'Edit', edit_category_path(category), class: "card-link btn btn-outline-light btn-sm" %>
              <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link btn btn-outline-danger btn-sm" %>
              </div>
            </div>
          </div>
      </div>
          <% end %>
      <% end %>
      </div>
      </div>
  </div>
  </div>

</div>