<h1><%= @category.category_name %></h1>
<p>
  "<%= @category.category_description %>"
</p>

<%= link_to 'View Tasks', category_tasks_path(@category), class: "btn btn-lg btn-info mb-3" %>

<br />

<%= link_to 'Edit', edit_category_path(@category) %> |

<%= link_to 'Back', categories_path %>
